dash==3.2.0
dash_bootstrap_components==2.0.4
dash_daq==0.6.0
firebase_admin==7.1.0
Flask==3.1.2
flask_mail==0.10.0
pandas==2.3.2
plotly==6.3.0
Requests==2.32.5
xhtml2pdf==0.2.15
Pillow
python-dotenv
