:root {
    --white-snow: #f0f0f0;
    --black: #000;
    --blue-components: #295678;
    --blue-hover: #6ABDF8;
    --blue-letter: #0D1F2C;
    --yellow-hover: #f5d100;
    --yellow-components: #f7e57d;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e7e7f1;
}

.parent {
    display: grid;
    grid-template-columns: 0.3fr 1fr; /* Sidebar + conteúdo */
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 11em;
    padding: 2rem 1rem;
    background-color: var(--blue-letter);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
}

.sidebar-link {
    display: block;
    width: 9em;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    border-radius: 6px;
    transition: background-color 0.5s ease, color 0.3s ease;
    align-self: center;
}

.sidebar-link:hover {
    background-color: #2c3e50;
    color: white;
}

.logo-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: -1rem;
    margin-top: -1rem;
}

.semurb-logo {
    height: 4rem;
    width: 4rem;
}

.sidebar-title {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    z-index: 1000;
    color: white;
    font-size: 1.2rem;
}

.profile-pic {
    height: 3.5rem;
    width: 3.5rem;
    margin: 1rem 1rem 0 0;
}

.page-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "agents_container agents_container  "
        "agents_container agents_container  "
        "Ranking_Ocu Ranking_Ocu graph-line graph-line"
        "Ranking_Ocu Ranking_Ocu graph-line graph-line";
    grid-gap: 20px;
    padding: 2rem;
    margin-left: 5em;
    margin-top: 10px;
    width: 72rem;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin: 1rem 0
}

.input-search {
    width: 35%;
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 2px solid var(--yellow-components);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-search:focus {
    border-color: var(--yellow-hover);
}

.agents_container {
    grid-area: agents_container;
    background: white;
    border-radius: 12px;
    height: 30rem;
    width: 68rem;
    overflow: hidden;
}

.agents-table {
    width: 100%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    border-collapse: collapse;
    padding: 1rem;
    justify-items: center;
}

.agents-table th, .agents-table td {
    border: 1px solid #d7d7d7;
    padding: 10px;
    text-align: center;
}

.agents-table td {
    font-weight: bolder;
    padding: 15px 50px;
}

.agents-table th {
    background-color: var(--blue-components);
    color: white;
    font-weight: bold;
}

.agents-table tr:nth-child(even) {
    background-color: var(--yellow-hover);
    color: white;
}

.agents-table tr:hover {
    background-color: #cdcdcd;
    color: black;
}

.btn-pdf {
    height: 3rem;
    width: 7rem;
    padding: 10px;
    background-color: #f5d100;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.btn-pdf:hover {
    background-color: #e4c800;
}

.btn-pdf-agent {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn_view a,
.btn_veh a {
    text-decoration: none;
    color: black;
}

.btn_view a:hover,
.btn_veh a:hover {
    color: white;
}

.btn_veh:hover,
.btn_view:hover{
    background: var(--blue-components);
    transition: 0.3s ease-in;
    color: white;
}

.btn_rem_add_pdf {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-around;
    x-index: 100;
}

.btn {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add_agents, .rem_agents {
    height: 3rem;
    padding: 10px 0;
    width: 20rem;
    background-color: var(--blue-components);
    color: white;
    font-width: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

.add_agents {
    border: 2px solid #1cc51c;
}

.rem_agents {
    border: 2px solid #d81818;
}

.add_agents:hover {
    color: black;
    background-color: #1cc51c;
}

.rem_agents:hover {
    color: black;
    background-color: #d81818;
}