<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    

 <div class="bloco_login">
    <div class="logo">
        <img id="logo" src="/static/assets/img/logoSemurb.png" alt="Logo da Semurb" class="logo_semurb">
        <h1>SEMURB</h1>
    </div>

    <div class="forms">
        <div class="inputs">
            <h1>Administrador</h1>
            <h3>REDEFINIR SENHA</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<form action="{{ url_for('enviar_codigo') }}" method="POST">
            <input class="campo" placeholder="Email" type="email" name="email" required>
            <br><br>
            <button id="enviar" type="submit" >ENVIAR </button>
</form>
            <p><a href="{{ url_for('pagina_login') }}">Voltar</a></p>

        </div>
    </div>
 </div>




</body>
</html>