<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Redefinir Senha</title>
</head>
<body>
    <div class="bloco_login">
        <div class="logo">
            <img id="logo" src="/static/assets/img/logoSemurb.png" alt="Logo da Semurb" class="logo_semurb">
            <h1>SEMURB</h1>
        </div>

        <div class="forms">
            <div class="inputs">
                <h1>Redefinir Senha</h1>
                <h2>Crie uma nova senha</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flashes">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/redefinir-senha-final" method="post">
                    <input name="nova_senha" class="campo" placeholder="Nova senha" type="password" required>
                    <br><br>
                    <input name="confirmar_senha" class="campo" placeholder="Confirmar senha" type="password" required>
                    <br><br>
                    <button style="color: aliceblue;" id="enviar" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>