<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    

 <div class="bloco_login">
    <div class="logo">
        <img id="logo_barueri" src="../assets/img/logo_barueri.png" alt="">
        <h1>SEMURB</h1>
    </div>

    <div class="forms">
        <div class="inputs">
            <h1>Administrador</h1>
            <h2>LOGIN</h2>
            <input class="campo" placeholder="Nova senha" type="password">
            <br><br>
            <input class="campo" placeholder="Confirmar senha" type="password">
            <br><br>
            <button id="enviar" ><a href="./index.html">ENVIAR </a></button>
        </div>
    </div>
 </div>




</body>
</html>